<tr valign = "middle">
    <td width = "10%"> {{mutation_request.aa_mut}}</td>
    <td width = "10%"> {{mutation_request.bp_mut}} </td>
    <td width = "20%"> {{mutation_request.species}} </td>
    <td width = "30%"> {{mutation_request.source}} </td>
    <td width = 20%> <form action = "{{url_for('main.accept_request', new_mutation_id = mutation_request.id)}}" style="display:inline-block;"  method="POST">
                                        {{ aform.hidden_tag() }}
                                        {{ aform.submit(class="btn btn-outline-success border-2", style="width:120px") }}
                                        </form> 
                                         <form action = "{{url_for('main.deny_request',  new_mutation_id = mutation_request.id)}}" style="display:inline-block;" method="POST">
                                        {{ dform.hidden_tag()}}
                                        {{ dform.submit(class="btn btn-outline-danger border-2", style="width:120px") }}
				        </form> </td>
</tr>