{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="mb-2">Welcome to the rpoB Mutation Database</h1>
    </div>
  </div>

  <div class="row justify-content-center">

  <div class="col-lg-8">
        <iframe
            src="{{ url_for('main.heatmap') }}"
            alt="Location heatmap"
            style="width: 100%; height: 170vh; border:0.5px solid #8b1e2d; padding: 1.5rem; margin: 1rem 0;;">
        </iframe>
  </div>  
  <div class="col-lg-4">
        <div class = "academic-container">
          <p> Use cursor to select and zoom in on areas of interest. </p>
          <p> Use <strong>Autoscale</strong> button in top right corner to reset the axes.</p>
          <p> Hover over cells to identify mutation IDs, then locate IDs in the <strong>Database Entries</strong> table below for more information about mutation.</p>
        </div>
  </div>  
  </div>

  <!-- Database Table -->
  <div class="row mt-5">
    <div class="col-12">
      <h3 class="mb-3 text-center">Database Entries</h3>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Amino acid mutation</th>
              <th>Base pair mutation</th>
              <th>Species</th>
              <th>Source</th>
            </tr>
          </thead>

          <tbody>
            {% for m in mutations %}
            <tr>
              <td>{{ m.id }}</td>
              <td>{{ m.aa_mut }}</td>
              <td>{{ m.bp_mut }}</td>
              <td>{{ m.species }}</td>
              <td>
                {% if m.source.startswith('http') %}
                <a href="{{ m.source }}" target="_blank">
                    {{ m.source }}
                </a>
                {% else %}
                {{ m.source }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}
