<!DOCTYPE html>
<html>
<head>
    <title>Mutation analysis</title>
</head>
<body>
    <h1> Mutation database </h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="mutation">Enter Mutation:</label>
        <input type="text" name="mutation" id="mutation" required>
        <br><br>
        <button type="submit">Analyze</button>
    </form>

    
   <img src="{{ url_for('main.heatmap_location') }}" alt="Location heatmap">
   <img src="{{ url_for('main.heatmap_substitution') }}" alt="Substitution heatmap">
</body>
</html>